# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Local runtime logs
*.log

# Flask instance files if used later
instance/

# Not needed for public GitHub upload
*.sqlite3
*.db
